<a href="https://colab.research.google.com/github/wantit-gotit9/Quant/blob/main/PER%2BPBR%EC%9C%B5%ED%95%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
#XLSX 파일(KRX 코스피) 불러오기
df=pd.read_excel('/content/data_PER+PBR.xlsx', index_col=0)
df

             종목명      종가     대비    등락률   EPS    PER    BPS   PBR  주당배당금  배당수익률
종목코드
095570   AJ네트웍스     6180    -80  -1.28     -      -   6089  1.01    210   3.40
006840    AK홀딩스    34900   1400   4.18     -      -  50471  0.69    400   1.15
027410      BGF     6910    -20  -0.29   285  24.25  15781  0.44    110   1.59
282330   BGF리테일   180500   3000   1.69  7103  25.41  40317  4.48   2400   1.33
138930  BNK금융지주     8050    -50  -0.62  1498   5.37  26781   0.3    320   3.98
...          ...     ...    ...    ...   ...    ...    ...   ...    ...    ...
069260      휴켐스    21850   -100  -0.46  1292  16.91  16351  1.34   1000   4.58
000540     흥국화재     4600   -135  -2.85   268  17.16  11107  0.41      0   0.00
000547  흥국화재2우B    43800  10100  29.97     -      -      -     -      0   0.00
000545    흥국화재우    13650   1250  10.08     -      -      -     -      0   0.00
003280     흥아해운      258      0   0.00     -      -      -     -      0   0.00

[900 rows x 10 columns]

In [3]:
#보기 편하게 행열 교체
df=df.transpose()
df

종목코드    095570  006840 027410   282330  ... 000540    000547  000545 003280
종목명    AJ네트웍스   AK홀딩스    BGF   BGF리테일   ...  흥국화재   흥국화재2우B   흥국화재우   흥아해운
종가        6180   34900   6910   180500  ...   4600     43800   13650    258
대비         -80    1400    -20     3000  ...   -135     10100    1250      0
등락률      -1.28    4.18  -0.29     1.69  ...  -2.85     29.97   10.08      0
EPS          -       -    285     7103  ...    268         -       -      -
PER          -       -  24.25    25.41  ...  17.16         -       -      -
BPS       6089   50471  15781    40317  ...  11107         -       -      -
PBR       1.01    0.69   0.44     4.48  ...   0.41         -       -      -
주당배당금      210     400    110     2400  ...      0         0       0      0
배당수익률      3.4    1.15   1.59     1.33  ...      0         0       0      0

[10 rows x 900 columns]

In [4]:
#'-'스트링을 NaN으로 변환
def isnumber(x):
    try:
        float(x)
        return True
    except:
        return False

df = df[df.applymap(isnumber)]
df

종목코드  095570 006840 027410  282330 138930  ... 069260 000540 000547 000545 003280
종목명      NaN    NaN    NaN     NaN    NaN  ...    NaN    NaN    NaN    NaN    NaN
종가      6180  34900   6910  180500   8050  ...  21850   4600  43800  13650    258
대비       -80   1400    -20    3000    -50  ...   -100   -135  10100   1250      0
등락률    -1.28   4.18  -0.29    1.69  -0.62  ...  -0.46  -2.85  29.97  10.08      0
EPS      NaN    NaN    285    7103   1498  ...   1292    268    NaN    NaN    NaN
PER      NaN    NaN  24.25   25.41   5.37  ...  16.91  17.16    NaN    NaN    NaN
BPS     6089  50471  15781   40317  26781  ...  16351  11107    NaN    NaN    NaN
PBR     1.01   0.69   0.44    4.48    0.3  ...   1.34   0.41    NaN    NaN    NaN
주당배당금    210    400    110    2400    320  ...   1000      0      0      0      0
배당수익률    3.4   1.15   1.59    1.33   3.98  ...   4.58      0      0      0      0

[10 rows x 900 columns]

In [5]:
PER = df.iloc[-5]
PER

종목코드
095570      NaN
006840      NaN
027410    24.25
282330    25.41
138930     5.37
          ...
069260    16.91
000540    17.16
000547      NaN
000545      NaN
003280      NaN
Name: PER, Length: 900, dtype: object

In [6]:
PBR = df.iloc[-3]
PBR

종목코드
095570    1.01
006840    0.69
027410    0.44
282330    4.48
138930     0.3
          ...
069260    1.34
000540    0.41
000547     NaN
000545     NaN
003280     NaN
Name: PBR, Length: 900, dtype: object

In [7]:
df = pd.DataFrame(df, index='PER PBR'.split())
df = df.transpose()
df

          PER   PBR
종목코드
095570    NaN  1.01
006840    NaN  0.69
027410  24.25  0.44
282330  25.41  4.48
138930   5.37   0.3
...       ...   ...
069260  16.91  1.34
000540  17.16  0.41
000547    NaN   NaN
000545    NaN   NaN
003280    NaN   NaN

[900 rows x 2 columns]

In [8]:
df['PER rank']=df['PER'].rank()
df['PBR rank']=df['PBR'].rank()
df['Total rank']=df['PER rank']+df['PBR rank']
df

          PER   PBR  PER rank  PBR rank  Total rank
종목코드
095570    NaN  1.01       NaN     356.5         NaN
006840    NaN  0.69       NaN     208.0         NaN
027410  24.25  0.44     366.0      66.5       432.5
282330  25.41  4.48     373.0     722.0      1095.0
138930   5.37   0.3      53.0      13.0        66.0
...       ...   ...       ...       ...         ...
069260  16.91  1.34     280.0     474.0       754.0
000540  17.16  0.41     283.0      51.0       334.0
000547    NaN   NaN       NaN       NaN         NaN
000545    NaN   NaN       NaN       NaN         NaN
003280    NaN   NaN       NaN       NaN         NaN

[900 rows x 5 columns]

In [9]:
df=df.dropna()
df

          PER   PBR  PER rank  PBR rank  Total rank
종목코드
027410  24.25  0.44     366.0      66.5       432.5
282330  25.41  4.48     373.0     722.0      1095.0
138930   5.37   0.3      53.0      13.0        66.0
001460  17.51  0.71     292.5     220.5       513.0
001040  41.84  0.83     451.0     281.5       732.5
...       ...   ...       ...       ...         ...
005870  18.89  0.97     314.5     339.5       654.0
079980   4.39   0.8      32.0     267.0       299.0
005010  13.14  0.27     210.5       7.0       217.5
069260  16.91  1.34     280.0     474.0       754.0
000540  17.16  0.41     283.0      51.0       334.0

[553 rows x 5 columns]

In [10]:
df=df.sort_values(by='Total rank')
df[:10].index.tolist()

['004150',
 '092230',
 '017940',
 '016610',
 '008060',
 '139130',
 '138930',
 '012320',
 '009770',
 '024110']