<a href="https://colab.research.google.com/github/wantit-gotit9/Quant/blob/main/PER%2BPBR%EC%8A%A4%ED%81%AC%EB%A6%AC%EB%8B%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
#XLSX 파일(KRX 코스피) 불러오기
df=pd.read_excel('/content/data_0307_20210405.xlsx', index_col=0)
df

             종목명      종가   대비   등락률   EPS    PER    BPS   PBR  주당배당금  배당수익률
종목코드
095570   AJ네트웍스     4780   65  1.38   982   4.87   6802   0.7    300   6.28
006840    AK홀딩스    26200 -450 -1.69  2168  12.08  62448  0.42    750   2.86
027410      BGF     7270  -50 -0.68   281  25.87  15699  0.46    110   1.51
282330   BGF리테일   159000 -500 -0.31  8763  18.14  36022  4.41   2700   1.70
138930  BNK금융지주     6630   60  0.91  1647   4.03  25415  0.26    360   5.43
...          ...     ...  ...   ...   ...    ...    ...   ...    ...    ...
069260      휴켐스    22250  200  0.91  1812  12.28  15970  1.39   1000   4.49
000540     흥국화재     3940  -15 -0.38   510   7.73  10926  0.36      0   0.00
000547  흥국화재2우B    20800  350  1.71     -      -      -     -      0   0.00
000545    흥국화재우     8700  120  1.40     -      -      -     -      0   0.00
003280     흥아해운      258    0  0.00     -      -    276  0.93      0   0.00

[900 rows x 10 columns]

In [3]:
#보기 편하게 행열 교체
df=df.transpose()
df

종목코드    095570  006840 027410   282330  ... 000540    000547  000545 003280
종목명    AJ네트웍스   AK홀딩스    BGF   BGF리테일   ...  흥국화재   흥국화재2우B   흥국화재우   흥아해운
종가        4780   26200   7270   159000  ...   3940     20800    8700    258
대비          65    -450    -50     -500  ...    -15       350     120      0
등락률       1.38   -1.69  -0.68    -0.31  ...  -0.38      1.71     1.4      0
EPS        982    2168    281     8763  ...    510         -       -      -
PER       4.87   12.08  25.87    18.14  ...   7.73         -       -      -
BPS       6802   62448  15699    36022  ...  10926         -       -    276
PBR        0.7    0.42   0.46     4.41  ...   0.36         -       -   0.93
주당배당금      300     750    110     2700  ...      0         0       0      0
배당수익률     6.28    2.86   1.51      1.7  ...      0         0       0      0

[10 rows x 900 columns]

In [4]:
#'-'스트링을 NaN으로 변환
def isnumber(x):
    try:
        float(x)
        return True
    except:
        return False

df = df[df.applymap(isnumber)]
df

종목코드  095570 006840 027410  282330 138930  ... 069260 000540 000547 000545 003280
종목명      NaN    NaN    NaN     NaN    NaN  ...    NaN    NaN    NaN    NaN    NaN
종가      4780  26200   7270  159000   6630  ...  22250   3940  20800   8700    258
대비        65   -450    -50    -500     60  ...    200    -15    350    120      0
등락률     1.38  -1.69  -0.68   -0.31   0.91  ...   0.91  -0.38   1.71    1.4      0
EPS      982   2168    281    8763   1647  ...   1812    510    NaN    NaN    NaN
PER     4.87  12.08  25.87   18.14   4.03  ...  12.28   7.73    NaN    NaN    NaN
BPS     6802  62448  15699   36022  25415  ...  15970  10926    NaN    NaN    276
PBR      0.7   0.42   0.46    4.41   0.26  ...   1.39   0.36    NaN    NaN   0.93
주당배당금    300    750    110    2700    360  ...   1000      0      0      0      0
배당수익률   6.28   2.86   1.51     1.7   5.43  ...   4.49      0      0      0      0

[10 rows x 900 columns]

In [5]:
PER = df.iloc[-5]
PER

종목코드
095570     4.87
006840    12.08
027410    25.87
282330    18.14
138930     4.03
          ...
069260    12.28
000540     7.73
000547      NaN
000545      NaN
003280      NaN
Name: PER, Length: 900, dtype: object

In [6]:
PBR = df.iloc[-3]
PBR

종목코드
095570     0.7
006840    0.42
027410    0.46
282330    4.41
138930    0.26
          ...
069260    1.39
000540    0.36
000547     NaN
000545     NaN
003280    0.93
Name: PBR, Length: 900, dtype: object

In [7]:
df = pd.DataFrame(df, index='PER PBR'.split())
df = df.transpose()
df

          PER   PBR
종목코드
095570   4.87   0.7
006840  12.08  0.42
027410  25.87  0.46
282330  18.14  4.41
138930   4.03  0.26
...       ...   ...
069260  12.28  1.39
000540   7.73  0.36
000547    NaN   NaN
000545    NaN   NaN
003280    NaN  0.93

[900 rows x 2 columns]

In [8]:
df['PER rank']=df['PER'].rank()
df['PBR rank']=df['PBR'].rank()
df['Total rank']=df['PER rank']+df['PBR rank']
df

          PER   PBR  PER rank  PBR rank  Total rank
종목코드
095570   4.87   0.7      29.0     235.5       264.5
006840  12.08  0.42     199.0      79.5       278.5
027410  25.87  0.46     375.0     100.0       475.0
282330  18.14  4.41     304.0     725.0      1029.0
138930   4.03  0.26      16.0      11.0        27.0
...       ...   ...       ...       ...         ...
069260  12.28  1.39     205.5     505.5       711.0
000540   7.73  0.36     102.0      45.0       147.0
000547    NaN   NaN       NaN       NaN         NaN
000545    NaN   NaN       NaN       NaN         NaN
003280    NaN  0.93       NaN     359.5         NaN

[900 rows x 5 columns]

In [9]:
df=df.dropna()
df

           PER   PBR  PER rank  PBR rank  Total rank
종목코드
095570    4.87   0.7      29.0     235.5       264.5
006840   12.08  0.42     199.0      79.5       278.5
027410   25.87  0.46     375.0     100.0       475.0
282330   18.14  4.41     304.0     725.0      1029.0
138930    4.03  0.26      16.0      11.0        27.0
...        ...   ...       ...       ...         ...
093370  116.67  4.42     516.0     727.0      1243.0
081660    9.57  2.05     139.0     600.0       739.0
005870    15.5  1.11     269.0     431.5       700.5
069260   12.28  1.39     205.5     505.5       711.0
000540    7.73  0.36     102.0      45.0       147.0

[565 rows x 5 columns]

In [10]:
df=df.sort_values(by='Total rank')
df[:10].index.tolist()

['138930',
 '030610',
 '024110',
 '005720',
 '012630',
 '139130',
 '316140',
 '002030',
 '000670',
 '002920']